asn1crypto==0.24.0
braintree==3.43.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==1.11
django-payments==0.12.3
djangorestframework==3.2.0
drfdocs==0.0.11
idna==2.6
pycparser==2.18
PyJWT==1.6.1
pytz==2018.3
requests==2.18.4
six==1.11.0
stripe==1.79.1
suds-jurko==0.6
urllib3==1.22
xmltodict==0.11.0
